<%-contentFor('body')%>

<%data.experiments.forEach(experiment => { %>

    <%

    var model_type = "";
    if(experiment.includes("base-model")){
        model_type = "basic";
    }else{
        model_type = "upgraded";
    }
    %>
    <div class="card" style="margin-top:10px;">

            <div class="card-body" >
                <a href="/experiments/<%-model_type%>/<%-experiment %>">
                    <%-experiment%>
                </a>
            </div>
    </div>
<% }) %>